<!DOCTYPE html>

<html>
	<head>
		<title>Test Site</title>
		<meta charset="UTF-8" />	
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script>
		$(document).ready(function(){
			$("#gumb").click(function(){
				var id =$("#i_id").val();
				var ime = $("#i_ime").val();
				var email = $("#i_email").val();
				
				var data = {
					id : id,
					ime : ime,
					email : email
				};
				
				$.ajax({
					type : "POST",
					url : "/data",
					dataType : "json",
					contentType : "application/json",
					async : true,
					data : JSON.stringify(data),
					success : function(res){
						console.log("uspeh ", res.name);
					},
					error : function(res){
						console.log("napaka");
					}
				});
			});
			$("#mejl").click(function(){
				$.ajax({
					type : "GET",
					url : "/send2",
					dataType : "json",
					contentType : "application/json",
					async : true,
					success : function(res){
						console.log("poslalo mejl: ", res);
					},
					error : function(res){
						console.log("napaka mejl: ", res);
					}
					
				});
			});
		});
	</script>

	<body>
	
	<input type="number" id="i_id" /><br/>
	<input type="text" id="i_ime" /><br/>
	<input type="text" id="i_email" /><br/>
	<button id="gumb">Submit</button>
	
	<button id="mejl">Poslji mejl</button>
	
	
	
	
	</body>
</html>