<!DOCTYPE html>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">mJamsek Site</a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
		<li><a href="/">Domov</a></li>
		<li><a href="/projects">Projekti</a></li>
		<li><a href="http://wiki.mjamsek.site">Wiki</a></li>
		</ul>
	</div>
	</div>
</nav>